<html>
    <head><title>Home</title></head>
    <body>
        {% if user.is_authenticated %}
        <h3>Hello and Welcome {{ user.username }}, </h3>
        <h3>I hope {{user.last_name}},{{user.first_name}} enjoy this website</h3>
        <a id='logout' href="{% url 'logout' %}"><button>Logout</button></a>
        {% else %}
        <h3>You are not logged in yet, please login or signup</h3>
        <a id='login' href="{% url 'login' %}"><button>Login</button></a>
        <a id='signup' href="{% url 'signup' %}"><button>Sign Up</button></a>
        {% endif %}

    </body>
</html>